/*  your css code here. If applicable */
.hero{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.hero img{
	width: 950px;
	height: 300px;
	object-fit: cover;
	margin-right: 20px;
}

.hero button{
	padding: 10px;
	width: 100px;
	background-color: red;
	color: white;
	border: none;
	border-radius: 5px;
}